<div class="small-12 grid-block p-top">
    <div class="small-12">
        <div class="nav">
            <ul class="grid-block custom-side-nav vertical">
                <li class="menu"><a class="left_menu button" href="/#!/information">My Information</a></li>
                <li class="menu active"><a class="left_menu button" ui-sref="/classes">My Classes</a></li>
                <li class="menu"><a class="left_menu button" ui-sref="/payments">My Payments</a></li>
                <li class="menu"><a class="left_menu button" ui-sref="/forms-waivers">My Forms & Waivers</a></li>
                <li class="menu"><a class="left_menu button" ui-sref="/enrollment">Enroll in New Classes</a></li>
            </ul>
        </div>
    </div>
</div>