<div id="members">
    <div class="row">
        <div class="small-12 grid-block">
            <div class="small-12 grid-block">
                <div class="grid-block" ng-include="'templates/information/header.html'">
                </div>
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="small-2 grid-block wrap menu_part">
                <div class="small-12 grid-content">
                    <div class="row" ng-include="'templates/enrollment/left_menu.html'">
                    </div>
                </div>
            </div>
            <div class="small-8 grid-block wrap">
                <div class="row small-12 p-m-top">
                    <div class="small-12 grid-block p-top">
                        <div class="small-4 small-offset-4 grid-content">
                            <span class="">Enrollment Times for [ Jake ] :</span>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-m-top">
                        <div class="small-12 grid-content">
                            <table class="txt_content div_border">
                                <thead>
                                <tr class="text-center" height="40px">
                                    <th width="20%" >Monday</th>
                                    <th width="20%">Tuesday</th>
                                    <th width="20%">Wednesday</th>
                                    <th width="20%">Thursday</th>
                                    <th width="20%">Friday</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="div_border" height="50px">
                                    <td class="text-center">&nbsp;</td>
                                    <td class="text-center">&nbsp;</td>
                                    <td class="text-center">&nbsp;</td>
                                    <td class="text-center">&nbsp;</td>
                                    <td class="text-center">&nbsp;</td>
                                </tr>
                                <tr class="div_border" height="50px">
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                </tr>
                                <tr class="div_border" height="50px">
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                    <td class="text-center">6:00 pm <br> 7:30</td>
                                </tr>
                                <tr class="div_border" height="50px">
                                    <td class="text-center">&nbsp;</td>
                                    <td class="text-center">&nbsp;</td>
                                    <td class="text-center">&nbsp;</td>
                                    <td class="text-center">&nbsp;</td>
                                    <td class="text-center">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-m-top">
                        <div class="small-4 grid-content">
                            <h4>Session Tally</h4>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="small-8 grid-content m-left">
                            <h6>Signing up [Jake] for :</h6>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="small-8 grid-content m-left">
                            <span class="txt-head">Tuesday at 4:30 pm and Thursday at 6:30 pm</span>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="small-8 grid-content m-left">
                            <h6>Signing up [David] for :</h6>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="small-8 grid-content m-left">
                            <span class="txt-head">Wednesday at 4:30 pm</span>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="small-3 grid-content">
                            <div class="small-12">
                                <a class="button tiny full">Back</a>
                            </div>
                        </div>
                        <div class="small-3 small-offset-4 grid-content">
                            <div class="small-12">
                                <a class="button tiny full">Update</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="small-12 grid-block">
                <div class="grid-block" ng-include="'templates/information/footer.html'">
                </div>
            </div>
        </div>
    </div>

</div>
