<div id="members">
    <div class="row">
        <div class="small-12 grid-block">
            <div class="small-12 grid-block">
                <div class="grid-block" ng-include="'templates/information/header.html'">
                </div>
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="small-2 grid-block wrap menu_part">
                <div class="small-12 grid-content">
                    <div class="row" ng-include="'templates/forms_waivers/left_menu.html'">
                    </div>
                </div>
            </div>
            <div class="small-8 grid-block wrap">
                <div class="row small-12 p-m-top">
                    <div class="small-12 grid-block">
                        <div class="small-10 grid-content">
                            <h4>Waivers, Disclaimers & Forms</h4>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="small-3 grid-content">
                            <h4>Jake</h4>
                        </div>
                        <div class="small-3 small-offset-7 grid-content">
                            <a class="button rbutton me_width tiny">Complete</a>
                        </div>
                    </div>
                    <div class="small-12 grid-block">
                        <div class="small-12 grid-content">
                            <table class="txt_content div_border">
                                <tbody>
                                    <tr class="div_border">
                                        <td class="text-center">Internet/Google Use</td>
                                        <td class="text-center">12/20/2015</td>
                                        <td class="text-center"><a class="button rbutton me_width tiny m-p-top">View</a></td>
                                    </tr>
                                    <tr class="div_border">
                                        <td class="text-center">Photo/Internet/Social Media</td>
                                        <td class="text-center">12/20/2015</td>
                                        <td class="text-center"><a class="button rbutton me_width tiny m-p-top">View</a></td>
                                    </tr>
                                    <tr class="div_border">
                                        <td class="text-center">Safety Waiver</td>
                                        <td class="text-center">12/20/2015</td>
                                        <td class="text-center"><a class="button rbutton me_width tiny m-p-top">View</a></td>
                                    </tr>
                                    <tr class="div_border">
                                        <td class="text-center">Medical Form</td>
                                        <td class="text-center">12/20/2015</td>
                                        <td class="text-center"><a class="button rbutton me_width tiny m-p-top">View</a></td>
                                    </tr>
                                    <tr class="div_border">
                                        <td class="text-center">Google Media Policy</td>
                                        <td class="text-center">12/20/2015</td>
                                        <td class="text-center"><a class="button rbutton me_width tiny m-p-top">View</a></td>
                                    </tr>
                                    <tr class="div_border">
                                        <td class="text-center">Medication Form</td>
                                        <td class="text-center">12/20/2015</td>
                                        <td class="text-center"><a class="button rbutton me_width tiny m-p-top">View</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="small-12 grid-block">
                <div class="grid-block" ng-include="'templates/information/footer.html'">
                </div>
            </div>
        </div>
    </div>
</div>
