<div id="home">
<div class="small-12 grid-block">
	<div class="grid-content text-center">
		<img class="logo_icon" src="/images/icons/logo.png" alt="HACKSTUDIO" />
		<h1 class="p-top">Hackstudio Members Area</h1>
		<p>Sign up, register and pay for sessions, manage your account and more!</p>
	</div>
</div>
<div class="small-12 grid-block align-center p-top">
	<div class="small-2 grid-block wrap">
		<div class="small-12 grid-block">
			<div class="grid-content text-center">
				<a>Returning<br />Member</a>
			</div>
		</div>
	</div>
	<div class="small-2 grid-block wrap">
		<div class="small-12 grid-block">
			<div class="grid-content text-center">
			<a ui-sref="/login">New and ready<br />to get started?</a>
			</div>
		</div>
	</div>
</div>
<div class="small-12 grid-block img_background p-top">
</div>
</div>