<div id="members">
    <div class="small-12 grid-block">
        <div class="small-12 grid-block">
            <div class="grid-block" ng-include="'templates/information/header.html'">
            </div>
        </div>
    </div>
    <div class="row grid-block p-top">
        <div class="small-12 grid-block">
            <div class="small-2 grid-block wrap">
                <div class="small-12 grid-content p-top">
                    <div class="row" ng-include="'templates/information/left_menu.html'">
                    </div>
                </div>
            </div>
            <div class="small-10 grid-block wrap">
                <div class="row small-12">
                    <div class="small-3 grid-block">
                        <div class="small-10 grid-content p-m-top">
                            <h4>Welcome!</h4>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="grid-content">
                            <div zf-tabs="" class="">
                                <div class="tab" zf-tab="" title="Parent">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-12 grid-block">
                                                <div class="grid-content">
                                                    Name of Primary
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-4 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="small-4 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="small-4 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="Middle">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-12 grid-block">
                                            <div class="small-12 grid-block">
                                                <div class="grid-content p-m-top">
                                                    Login Information
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-12 grid-block p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Email Address</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-6 grid-block p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Password</span>
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Re-enter Password</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-12 grid-block p-m-top">
                                            <div class="small-6 grid-block wrap">
                                                <div class="small-12 grid-content">
                                                    Street Address:
                                                </div>
                                                <div class="small-12 grid-content p-m-top">
                                                    <input type="text" placeholder="Street">
                                                </div>
                                                <div class="small-12 grid-content p-top">
                                                    <input type="text" placeholder="Street">
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap">
                                                <div class="small-12 grid-content">
                                                    Billing Address:
                                                </div>
                                                <div class="small-12 grid-content p-m-top">
                                                    <input type="text" placeholder="Street">
                                                </div>
                                                <div class="small-12 grid-content p-top">
                                                    <input type="text" placeholder="Street">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-4 grid-content">
                                                    <input type="text" placeholder="City">
                                                </div>
                                                <div class="small-4 grid-content">
                                                    <input type="text" placeholder="State">
                                                </div>
                                                <div class="small-3 grid-content">
                                                    <input type="text" placeholder="Zip">
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-4 grid-content">
                                                    <input type="text" placeholder="City">
                                                </div>
                                                <div class="small-4 grid-content">
                                                    <input type="text" placeholder="State">
                                                </div>
                                                <div class="small-3 grid-content">
                                                    <input type="text" placeholder="Zip">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-12 grid-block">
                                            <div class="small-12 grid-block">
                                                <div class="grid-content p-m-top">
                                                    Phone:
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Home Phone</span>
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Cell Phone</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-12 grid-block">
                                            <div class="small-12 grid-block">
                                                <div class="grid-content p-m-top">
                                                    Social Media:
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Facebook</span>
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Twitter</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-12 grid-block">
                                            <div class="small-12 grid-block">
                                                <div class="grid-content p-m-top">
                                                    Family Physician Information:
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Name</span>
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Phone Number</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-12 grid-block p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Allergies</span>
                                                </div>
                                            </div>
                                            <div class="small-12 grid-block p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Emergency Contact #1</span>
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Emergency Contact #2</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-12 grid-block">
                                            <div class="small-12 grid-block p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Other Info</span>
                                                </div>
                                            </div>
                                            <div class="small-12 grid-block p-top">
                                                <div class="small-12 grid-content">
                                                    <textarea class="full" rows="4"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-11 grid-block align-right p-m-top">
                                            <div class="small-4 grid-block p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <a class="tiny button full" ng-click="update1()">Update</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" zf-tab="" title="Students">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-10 grid-block wrap">
                                                <div class="small-12 grid-content">
                                                    <table class="div_border">
                                                        <thead>
                                                            <tr>
                                                                <th width="200"></th>
                                                                <th width="200"></th>
                                                                <th width="200"></th>
                                                                <th width="100"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-center">{{ $parent.studentInfo.first_name + ' '+ $parent.studentInfo.last_name}}</td>
                                                                <td class="text-center">{{ $parent.studentInfo.grade}}</td>
                                                                <td class="text-center">ENROLLMENT STATUS</td>
                                                                <td class="text-center"><div class="height-s"><a class="small button m-p-top" href="#">HSR</a></div></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="small-12 grid-block p-top">
                                                    <div class="small-7 grid-content wrap parent_left">
                                                        <div class="small-12 grid-content">
                                                            <ul class="pricing-table">
                                                                <li class="t_right">
                                                                    <div class="small-12 grid-block">
                                                                        <div class="small-10 wrap">
                                                                            <div class="small-11">
                                                                                STUDENT DEMOGRAPHIC INFOMATION
                                                                            </div>
                                                                        </div>
                                                                        <div class="small-2 wrap">
                                                                            <div class="small-12">
                                                                                <a class="tiny button m-top" zf-open="modal_edit_studentInfo">Edit</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="txt_content"><hr></li>
                                                                <li class="txt_content">{{ $parent.studentInfo.first_name + ' '+ $parent.studentInfo.last_name }}</li>
                                                                <li class="txt_content">{{ $parent.studentInfo.gender }}</li>
                                                                <li class="txt_content">{{ $parent.studentInfo.school + ' ' + $parent.studentInfo.grade }}</li>
                                                                <li class="txt_content">{{ $parent.studentInfo.dob }}</li>
                                                                <li class="txt_content">{{ $parent.studentInfo.hack_universary}}</li>
                                                                <li class="txt_content">{{ $parent.studentInfo.email_address}}</li>
                                                                <li class="txt_content">{{ $parent.studentInfo.phone1 + ',' + $parent.studentInfo.phone2 }}</li>
                                                                <li class="txt_content">{{ $parent.pInfo.physician_name }}</li>
                                                                <li class="txt_content">{{ $parent.pInfo.physician_phone }}</li>
                                                                <li class="txt_content">{{ $parent.pInfo.emergency_contact1 }}</li>
                                                                <li class="txt_content">{{ $parent.studentInfo.allergies }}</li>
                                                                <li class="txt_content">{{ $parent.studentInfo.medication + ' ' + $parent.studentInfo.reason_medication }}</li>
                                                                <li class="txt_content">{{ $parent.studentInfo.other_info }}</li>

                                                                <div class="small-12 grid-block">
                                                                    <div class="small-6 small-offset-2 wrap">
                                                                        <div class="small-12  grid-block">
                                                                            <div class="gride-content txt-head">
                                                                                <a>Student Profile page</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="small-6  grid-block wrap">
                                                                        <div class="small-12 ">
                                                                            <div class="gride-content txt-head">
                                                                                <a>Medical Emergency Page</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="small-6 grid-block wrap parent_middle">
                                                        <div class="row">
                                                            <div class="small-12 grid-block">
                                                                <div class="grid-content">
                                                                    <div class="div_border txt-head">
                                                                        <li class="t_center">SESSION HISTORY</li>
                                                                        <div class="small-12 grid-block p-top">
                                                                            <div class="small-6 small-offset-2 wrap">
                                                                                <div class="small-12  grid-block">
                                                                                    <div class="gride-content text-center">
                                                                                        <span class="">SESSION</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="small-6  grid-block wrap">
                                                                                <div class="small-12 ">
                                                                                    <div class="gride-content text-center">
                                                                                        <span class="m-left">MENTOR</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                        <table class="txt_content">
                                                                            <span class="left m-left">FALL 2015</span>
                                                                            <thead>
                                                                            <tr>
                                                                                <th width="115"></th>
                                                                                <th width="200"></th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr>
                                                                                <td class="text-center">T 4:00</td>
                                                                                <td class="text-center">SALLY SMITH</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="text-center">TH 2:15</td>
                                                                                <td class="text-center">TOM PETERSON</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <table class="txt_content">
                                                                            <span class="left m-left">SPRING 2015</span>
                                                                            <thead>
                                                                            <tr>
                                                                                <th width="115"></th>
                                                                                <th width="200"></th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr>
                                                                                <td class="text-center">W 4:15</td>
                                                                                <td class="text-center">JUDE MICHAELS</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="small-12 grid-content text-left m-left p-m-top">
                                                                <a class="small button" zf-open="modal_new_enroll">ENROLL IN NEW CLASS</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="small-2 m-left wrap">
                                                <div class="row">
                                                    <div class="small-12 gride-block">
                                                        <div class="gride-content">
                                                            <a class="th" href="#">
                                                                <img class="user_img_panel" src="images/user-image.png">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="small-12 gride-block">
                                                        <div class="gride-content text-right m-p-top">
                                                            <a class="small button">UPLOAD PIC</a>
                                                        </div>
                                                    </div>
                                                    <div class="small-12 gride-block p-m-top">
                                                        <div class="gride-content text-right">
                                                            <a class="small button full" zf-open="modal_assign_scholarship">Assign Scholarship</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-12 grid-block p-top">
                                            <div class="small-12 grid-block">
                                                <div class="small-12 grid-content">
                                                    <span class="txt-head">CONTACT LOG</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-12 grid-block p-top">
                                            <div class="grid-content div_border text-right">
                                                <div>
                                                    <table class="billing_history div_border txt_content">
                                                        <thead>
                                                        <tr>
                                                            <th width="200">DATE</th>
                                                            <th width="800">NOTE</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="value in $parent.sNoteList">
                                                            <td class="text-center">{{ value.date }}</td>
                                                            <td class="text-center">{{ value.note }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="small-12 p-top">
                                                        <a class="small button but_bill" zf-open="add_student_note">ADD NEW</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" zf-tab="" title="Scholarship Name">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-10 grid-block wrap">
                                                <div class="grid-content">
                                                    <table class="div_border height-s">
                                                        <thead>
                                                        <tr>
                                                            <th width="30%"></th>
                                                            <th width="30%"></th>
                                                            <th width="40%"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-center">{{ $parent.scholarshipInfo.name }}</td>
                                                            <td class="text-center">{{ $parent.scholarshipInfo.id }}</td>
                                                            <td class="text-center">CURRENT STATEMENT BALANCE</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block p-top">
                                            <div class="small-7 grid-block wrap">
                                                <div class="small-12 grid-block">
                                                    <div class="small-6 grid-content wrap">
                                                        <div class="small-12 grid-content">
                                                            <ul class="pricing-table">
                                                                <li class="t_right">
                                                                    <div class="small-12 grid-block">
                                                                        <div class="small-10 wrap">
                                                                            <div class="small-10">
                                                                                CONTACT INFO
                                                                            </div>
                                                                        </div>
                                                                        <div class="small-2 wrap">
                                                                            <div class="small-12">
                                                                                <a class="tiny button m-top" zf-open="modal_add_scholarship">Edit</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="txt_content">{{ $parent.scholarshipInfo.name }}</li>
                                                                <li class="txt_content">{{ $parent.scholarshipInfo.phone1 }}</li>
                                                                <li class="txt_content">{{ $parent.scholarshipInfo.email_address }}</li>
                                                                <li class="txt_content">{{ $parent.scholarshipInfo.addy1 + "," + $parent.scholarshipInfo.addy2+ "," +$parent.scholarshipInfo.city + "," +$parent.scholarshipInfo.state + "," +$parent.scholarshipInfo.zip }}</li>
                                                                <li class="txt_content">{{ $parent.scholarshipInfo.twitter }}</li>
                                                                <li class="txt_content">{{ $parent.scholarshipInfo.facebook }}</li>
                                                                <li class="txt_content">{{ $parent.pInfo.referal_type }}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="small-6 grid-block wrap">
                                                        <div class="small-12">
                                                            <ul class="pricing-table">
                                                                <li class="t_center">CURRENT MEMBERS AND ENROLLMENTS</li>
                                                                <li class="txt_content">JONNY FALL 15</li>
                                                                <li class="txt_content">SARAH FALL 15</li>
                                                                <li class="txt_content">RALPH --</li>
                                                                <li class="txt_content">MICHAH --</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap">
                                                <div class="row small-12">
                                                    <div class="small-12 grid-content">
                                                        <div class="div_border text-center">
                                                            <li class="t_center">BILLING HISTORY</li>
                                                            <table class="billing_history div_border txt_content">
                                                                <thead>
                                                                <tr>
                                                                    <th width="15%">Date</th>
                                                                    <th width="40%">Payment Amt</th>
                                                                    <th width="40%">Payment Type</th>
                                                                    <th width="25%">Balance</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td class="text-center">11/11/15</td>
                                                                    <td class="text-center">$200</td>
                                                                    <td class="text-center">cc</td>
                                                                    <td class="text-center">$100</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="small-12 p-top">
                                                                <a class="small button " href="#">VIEW STATEMENT/MAKE PAYMENT</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="small-12 grid-content p-top">
                                                        <ul class="pricing-table">
                                                            <li class="t_right">
                                                                <div class="small-12 grid-block">
                                                                    <div class="small-10 wrap">
                                                                        <div class="small-10">
                                                                            CC INFORMATION
                                                                        </div>
                                                                    </div>
                                                                    <div class="small-2 wrap">
                                                                        <div class="small-12">
                                                                            <a class="tiny button m-top">Edit</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="txt_content"><hr></li>
                                                            <li class="txt_content">Credit Card ##: ******1234</li>
                                                            <li class="txt_content">Exp Date</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" zf-tab="" title="Add Member+">
                                    <div class="row">
                                        <div class="small-12 grid-block">
                                            <div class="small-12 grid-block">
                                                <div class="grid-content">
                                                    Create Child Page
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-12 grid-block p-top">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">First Name</span>
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <span class="txt-head">Last Name</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 grid-block">
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="small-6 grid-block wrap p-top">
                                                <div class="small-12 grid-content">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="small-11 grid-block align-right p-m-top">
                                            <div class="small-4 grid-block p-top">
                                                <div class="small-12 grid-content m-left">
                                                    <a class="tiny button full" ng-click="update1()">Create</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="small-12 grid-block">
        <div class="small-12 grid-block">
            <div class="grid-block" ng-include="'templates/information/footer.html'">
            </div>
        </div>
    </div>
</div>