<div id="members">
    <div class="row">
        <div class="small-12 grid-block">
            <div class="small-12 grid-block">
                <div class="grid-block" ng-include="'templates/information/header.html'">
                </div>
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="small-2 grid-block wrap menu_part">
                <div class="small-12 grid-content">
                    <div class="row" ng-include="'templates/payment/left_menu.html'">
                    </div>
                </div>
            </div>
            <div class="small-10 grid-block wrap">
                <div class="row small-12 p-m-top">
                    <div class="small-12 grid-block ">
                        <div class="small-4 grid-content">
                            <h4>Payment History</h4>
                        </div>
                        <div class="small-3 small-offset-3 grid-content">
                            <div class="small-12">
                                <a class="button tiny full rbutton">Purchase Supplies</a>
                            </div>
                        </div>
                    </div>
                    <div class="small-10 grid-block">
                        <div class="small-12 grid-content">
                            <table class="txt_content div_border">
                                <thead>
                                    <tr class="text-center" height="40px">
                                        <th width="20%" >Date</th>
                                        <th width="20%">Amount</th>
                                        <th width="20%">Txrn#</th>
                                        <th width="20%">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="div_border">
                                        <td class="text-center">12/20/2015</td>
                                        <td class="text-center">$500</td>
                                        <td class="text-center">64642r7</td>
                                        <td class="text-center"><a class="button tiny rbutton me_width m-p-top">View</a> </td>
                                    </tr>
                                    <tr class="div_border">
                                        <td class="text-center">12/20/2015</td>
                                        <td class="text-center">$500</td>
                                        <td class="text-center">64642r7</td>
                                        <td class="text-center"><a class="button tiny rbutton me_width m-p-top">View</a> </td>
                                    </tr>
                                    <tr class="div_border">
                                        <td class="text-center">12/20/2015</td>
                                        <td class="text-center">$500</td>
                                        <td class="text-center">64642r7</td>
                                        <td class="text-center"><a class="button tiny rbutton me_width m-p-top">View</a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-m-top">
                        <div class="small-4 grid-content">
                            <h4>Statements</h4>
                        </div>
                    </div>
                    <div class="small-10 grid-block">
                        <div class="small-12 grid-content">
                            <table class="txt_content div_border">
                                <thead>
                                <tr class="text-center"  height="40px">
                                    <th width="20%" >Date</th>
                                    <th width="20%">Amount</th>
                                    <th width="20%">Txrn#</th>
                                    <th width="20%">Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="div_border">
                                    <td class="text-center">12/20/2015</td>
                                    <td class="text-center">$500</td>
                                    <td class="text-center">64642r7</td>
                                    <td class="text-center"><a class="button tiny rbutton me_width m-p-top">View</a> </td>
                                </tr>
                                <tr class="div_border">
                                    <td class="text-center">12/20/2015</td>
                                    <td class="text-center">$500</td>
                                    <td class="text-center">64642r7</td>
                                    <td class="text-center"><a class="button tiny rbutton me_width m-p-top">View</a> </td>
                                </tr>
                                <tr class="div_border">
                                    <td class="text-center">12/20/2015</td>
                                    <td class="text-center">$500</td>
                                    <td class="text-center">64642r7</td>
                                    <td class="text-center"><a class="button tiny rbutton me_width m-p-top">View</a> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="small-12 grid-block">
                        <div class="small-11 grid-content">
                            <hr>
                        </div>
                    </div>
                    <div class="small-12 grid-block">
                        <div class="small-11 grid-content">
                            <h4>Billing Information</h4>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-m-top">
                        <div class="small-11 grid-content">
                            Credit Card ## : <span class="txt-head">****1234</span>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="small-11 grid-content">
                            Exp Date : <span class="txt-head">12/23/2015</span>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-m-top">
                        <div class="small-11 grid-content">
                            Billing Terms : <span class="txt-head">monthly</span>
                        </div>
                    </div>
                    <div class="small-12 grid-block p-top">
                        <div class="small-11 grid-content">
                            Email Notification : <span class="txt-head">john@test.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 grid-block">
            <div class="small-12 grid-block">
                <div class="grid-block" ng-include="'templates/information/footer.html'">
                </div>
            </div>
        </div>
    </div>
</div>