<div class="small-12 grid-block footer p-m-top">
    <div class="small-2 grid-block">
        <div class="small-10 grid-block align-right">
            <img class="logo_icon" src="/images/icons/logo.png" alt="HACKSTUDIO" />
        </div>
    </div>
    <div class="small-4 grid-block">
        <div class="small-12 grid-block">
            <h2 class="p-top">HACKSTUDIO</h2>
        </div>
    </div>
    <div class="small-4 grid-block">
        <div class="small-12 grid-block">
            <h5>2510 Green Bay Road, Evanston,IL<br>847-868-8565<br>info@hackstudio.com</h5>
        </div>
    </div>
    <div class="small-2 grid-block">
        <div class="small-12 grid-block">
            <h5>faceboo,twitter...</h5>
        </div>
    </div>
</div>