<div class="small-12 grid-block header p-m-top">
    <div class="small-10 grid-block">
        <div class="small-2 grid-block wrap text-center">
            <div class="small-10 grid-block align-right">
                <img class="logo_icon" src="/images/icons/logo.png" alt="HACKSTUDIO" />
            </div>
        </div>
        <div class="small-10 grid-block wrap p-m-bottom">
            <div class="small-12 grid-block">
                <h2 class="p-top">HACKSTUDIO</h2>
            </div>
        </div>
    </div>
</div>